* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
    font-family: 'Rubik';
}

@font-face {
    font-family: 'Rubik';
    src: url(../font/Rubik.ttf) format('ttf'), url(../font/Rubik.ttf) format('woff');
    font-weight: 100;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* HEADER */

    header {
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(255,255,255,0.8);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        z-index: 999;
    }

    nav {
        width: 700px;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        color: #000;
        font-size: 20px;
    }

    .nav-item {
        padding: 10px;
    }

    .nav-item:hover {
        border-radius: 10px;
        background: #7d7d7d;
        color: #fff;
    }

    .contact-wrap {
        width: 210px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contact-btn {
        width: 150px;
        height: 40px;
        font-size: 15px;
        border-radius: 10px;
        -webkit-animation: pulse 5s infinite;
        animation: pulse 5s infinite;
        background: #fcf000;
    }

    @keyframes pulse {
    0% {
    box-shadow: 0 0 0 0 #b4ab008d;
    }

    70% {
    box-shadow: 0 0 0 0 #b4ab008d;
    }

    80% {
        box-shadow: 0 0 0 5px #b4ab008d;
        }

    100% {
    box-shadow: 0 0 0 0 #b4ab008d;
    }
    }

    .phone-btn {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        }

    .phone-btn img {
        height: 40px;
    }

/* HEADER */





/* SLIDER */

.container {
    width: 100%;
    height: 500px;
    margin: 60px 0 0 0;
    overflow: hidden;
}

.switch {
    height: 100%;
}

.switch input {
    display: none;
}

.controls {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100;
}

.controls label{
    width: 15px;
    height: 15px;
    background: #5e5e5e;
    box-shadow: 3px 3px 5px #000000;
    border-radius: 10px;
    cursor: pointer;
    opacity: .4;
    transition: .5s;
}

.switch input:nth-child(1):checked ~ .controls label:nth-child(1),
.switch input:nth-child(2):checked ~ .controls label:nth-child(2),
.switch input:nth-child(3):checked ~ .controls label:nth-child(3) {
    opacity: 1;
    width: 50px;
}

.switch input:nth-child(1):checked ~ .wrapper {
    left: 0;
}

.switch input:nth-child(2):checked ~ .wrapper {
    left: -100vw;
}

.switch input:nth-child(3):checked ~ .wrapper {
    left: -200vw;
}

.wrapper {
    position: relative;
    width: 300vw;
    height: 100%;
    display: flex;
    transition: 2s;
}

.wrapper .box {
    min-width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.box-text {
    z-index: 100;
}

.shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #ffffffaa, #ffffffaa, #ffffffaa, #00000000);
}

.shadow-2 {
    background:#ffffffbd;
}

.box p {
    width: 80%;
}

.box {
    background-attachment: fixed;
}

/* SLIDER */

/* PERKS */

    .perks {
        width: 100%;
        position: relative;
    }

    .perks-wrap {
        display: flex;
        justify-content: space-around;
    }

    .perks-wrap-item {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        z-index: 20;
    }

    .perks-item {
        width: 250px;
        padding: 20px 0;
    }

    .perks-item p {
        text-align: center;
    }

    .perks-img {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .perks-img img {
        width: 60px;
    }

    .perks-description {
        position: relative;
        padding: 0 10px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .perks-description h2,
    .perks-description h3 {
        letter-spacing: 3px;
    }

    .perks-description h2,
    .perks-description h3,
    .perks-description p,
    .perks-description ul {
        z-index: 20;
    }

/* PERKS */

/* POPULAR */

.popular {
    width: 100%;
    background: #f5f5f5;
}

.popular h3 {
    line-height: 40px;
}

.popular h2 {
    letter-spacing: 3px;
}

.popular h2, .popular h3 {
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
}

.popular-wrap {
    width: calc(100% - 50px);
    padding: 0 0 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.popular-item {
    width: 250px;
    padding: 20px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.popular-item:hover {
    box-shadow: 0px 10px 20px #000;
}

.popular-item span {
    display: block;
    width: 100%;
    height: 1px;
    margin: 5px 0;
    border: 1px solid #000;
}

.popular-img {
    width: 150px;
    border-radius: 10px;
    margin:  0 auto;
}

/* POPULAR */

/* CATALOG */

    .catalog {
        width: 100%;
        height: 500px;
        background: #8f8f8f;
    }

/* CATALOG */


/* STAGE */
    
    .stage-img {
        width: 100px;
        height: 100px;
        background: #f5f5f5;
    }

/* STAGE */

/* GALLERY */

    .gallery {
        width: 100%;
        height: 500px;
        position: relative;
    }

    .gallery-container {
        margin: 20px auto;
        height: 300px;
    }

    .link-style {
        background: #fcf000; 
        padding: 10px; 
        border-radius: 10px;
    }

    .gallery h2 {
        letter-spacing: 3px;
    }

    .gallery h2, .gallery h3 {
        text-align: left;
        padding: 10px 0 10px 25px;
    }

    .gallery-controls {
        margin: -80px 0 0 0;
    }

    .gallery-box {
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }

    .box-item {
        width: 30%;
        text-align: left;
    }

    .box-item h3{
        padding: 10px 0;
    }

    .box-item-img {
        width: 100%;
        height: 200px;
    }

    .gallery-box h3 {
        text-align: left;
    }

    .gallery-box img {
        width: 90%;
    }

/* GALLERY */

/* FORM */

    .form {
        width: 100%;
        height: 500px;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
    }

    form {
        align-items: center;
        z-index: 100;
        margin: 0 auto;
    }
    
    .form-item-wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 850px;
        margin: 40px 0;
    }

    form h2 {
        font-size: 40px;
    }

    form p {
        font-size: 25px;
        margin-bottom: 40px;
    }
    

    input {
        /* width: 270px; */
        height: 50px;
        border: 2px solid #000;
        background: #00000030;
        border-radius: 10px;
        /* padding: 0 0 0 10px; */
        padding: 10px;
        font-size: 20px;
    }


    input::placeholder {
        color: #303030;
    }

    .form-btn {
        width: 300px;
        height: 50px;
        font-size: 30px;
    }

/* FORM */

/* CONTACT */

    .contact {
        width: 100%;
        height: 500px;
        display: flex;
    }

    .contact-item-wrap {
        width: 50%;
        height: 100%;
    }

    .contact-item-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contact-item {
        display: flex;
        align-items: center;
        padding: 15px 0px 15px 25px;
        background: #f5f5f5;
    }

    .contact-item h3 {
        text-align: left;
    }

    .contact-phone {
        cursor: pointer;
    }

    .contact-phone:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .phone-margin {
        margin-left: 25px;
    }

    .contact-item img{
        width: 50px;
        height: 50px;
        margin: 0 25px 0 0;
    }

    .map-wrap {
        width: 50%;
        height: 100%;
    }
/* CONTACT */


/* FOOTER */

    footer {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #7d7d7d;
    }

/* FOOTER */